* {
  --sb-track-color: #232e33;
  --sb-thumb-color: #3865d0;
  --sb-size: 7px;

  /* Solución para navegadores modernos */
  scrollbar-gutter: auto;
}

/* WebKit (Chrome, Safari) */
*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}

/* Opcional: Para navegadores que soportan overlay (como Chrome) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html {
    overflow-y: overlay;
    overflow-x: overlay;
  }
}
